__cdinout_path_prepend "/path/to/project/.workspace/bin"

export PROJECT_NAME="my_project_name"
export _Z_DATA="/path/to/project/.workspace/var/.z"
export BUILDKIT_COLORS="run=yellow:cancel=cyan:warning=white:error=red"

# Set an env var with backup
[ ! -z "$XDEBUG_MODE" ] && export XDEBUG_MODE_BKP="$XDEBUG_MODE"
export XDEBUG_MODE="off"

# go root
,gr() {
    cd "/path/to/root"
}

# go source
,gs() {
    cd "/path/to/root/src"
}
