LOCAL_PATH="/path/to/project/.workspace/bin"
PATH=":$PATH:"
PATH="${PATH/:$LOCAL_PATH:/:}"
PATH="${PATH#:}"
PATH="${PATH%:}"
export PATH="$LOCAL_PATH:$PATH"
unset LOCAL_PATH

export PROJECT_NAME="my_project_name"
export _Z_DATA="/path/to/project/.workspace/var/.z"

# Set an env var with backup
[ ! -z "$XDEBUG_MODE" ] && export XDEBUG_MODE_BKP="$XDEBUG_MODE"
export XDEBUG_MODE="off"

# go root
,gr() {
    cd "/path/to/root"
}

# go source
,gs() {
    cd "/path/to/root/src"
}
