__cdinout_path_remove "/path/to/project/.workspace/bin"

unset PROJECT_NAME
unset _Z_DATA
unset BUILDKIT_COLORS

# Unset env var and restore from backup
unset XDEBUG_MODE
[ ! -z "$XDEBUG_MODE_BKP" ] && {
    export XDEBUG_MODE="$XDEBUG_MODE_BKP"
    unset XDEBUG_MODE_BKP
}

unset -f ,gr
unset -f ,gs
